---
import LazyYouTube from "./LazyYouTube.svelte";

export interface Video {
    youtubeId: string;
    description: string;
    views?: string;
}

export interface Props {
    name: string;
    pfp: string;
    bgColor: string;
    pfpWidth: string;
    videos: Video[];
    flex?: string;
    subscribers?: string;
    url: string;
    shorts?: boolean;
}

const { name, pfp, bgColor, pfpWidth, videos, flex, subscribers, url, shorts } =
    Astro.props;

const gridColsClass: Record<number, string> = {
    1: "grid-cols-1",
    2: "grid-cols-2",
    4: "grid-cols-4",
};
---

<div class={`flex ${flex ?? ""} items-center gap-4 rounded-xl ${bgColor} p-4`}>
    <a
        href={url}
        target="_blank"
        class={`flex ${pfpWidth} shrink-0 flex-col items-center gap-2`}
    >
        <img class="aspect-square w-full rounded-full" src={pfp} alt={name} />
        <div class="text-center font-medium">{name}</div>
        {
            subscribers && (
                <div class="text-center text-sm text-stone-600">
                    {subscribers}
                </div>
            )
        }
    </a>
    <div class={`grid flex-1 ${gridColsClass[videos.length]} gap-4`}>
        {
            videos.map((video) => (
                <div class="flex flex-col gap-1">
                    <LazyYouTube
                        client:visible
                        youtubeId={video.youtubeId}
                        description={video.description}
                        shorts={shorts}
                    />
                    <p class="text-sm text-stone-700">{video.description}</p>
                    {video.views && (
                        <p class="text-xs text-stone-500">
                            {video.views} views
                        </p>
                    )}
                </div>
            ))
        }
    </div>
</div>
