---
import NavBar from "../components/NavBar.astro";
import { AstroSeo } from "@astrolib/seo";

export interface Props {
  title?: string;
  page: string;
  extraClasses?: string;
}

const { title, page, extraClasses } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <AstroSeo
      title={`${title} | Merlin's Portfolio`}
      description="Merlin's epic portfolio"
    />
  </head>
  <body class={extraClasses}>
    <NavBar page={page} title={title} />
    <slot />
  </body>
</html>
